body{
    margin: 0;
    padding: 0;
    font-family: monospace;
    background-color: lightblue;
    color: darkgreen;
    min-height:100vh;
    display: flex;
    justify-content:center;
    align-items:center;
}

.container{
    background: linear-gradient(to left bottom, lightgreen, lightblue, lightyellow);
    width: 85%;
    max-width: 400px;
    font-size: 20px;
    text-align: center;
    box-shadow: 0px 6px 9px rgba(0, 0, 0, 0.4);
    padding:15px;
    border-radius: 10px;
}

.heading{
    margin: 7px;
    font-size:30px;
    cursor: pointer;
}
.heading:active{
    transform: scale(0.85);
    transition: all 400ms ease;
}

.rating-container{
    display: flex;
    padding:20px 0;
}

.rating{
    cursor: pointer;
    padding:10px;
    /* border: 1px solid red; */
    margin: 10px 7px;
}

.rating:hover{
    background: darkseagreen;
    border-radius: 10px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
    color:aliceblue;
    transition: all 400ms ease;
}

.rating:active{
    transform: scale(0.85);
}

.rating img{
    width: 50px;
}

.btn{
    background-color: darkcyan;
    margin: 20px;
    border: none;
    border-radius: 5px;
    color: aliceblue;
    padding: 15px 30px;
    font-size: 18px;
    cursor: pointer;

}

.btn:hover{
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
    transition: all 400ms ease;
}
.btn:active{
    transform: scale(0.85);
}